* {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 700;
}

body {
  background: linear-gradient(45deg, rgb(26, 26, 251), rgb(95, 6, 95));
}

.container {
  width: 450px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  margin: 10% auto;
  padding: 20px;
  text-align: Left;
}

.title {
  margin-bottom: 20px;
}

.container img {
  width: 50px;
}

.input-bar {
  display: flex;
  position: absolute;
}

.task-input {
  width: 400px;
  height: 50px;
  border-radius: 50px;
  background: rgb(235, 234, 234);
  border: none;
  padding-left: 30px;
  position: absolute;
}

button {
  color: #fff;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background: rgb(246, 86, 86);
  border: none;
  position: relative;
  margin-left: 350px;
}